/* Mobile Responsive */
@media (max-width: 900px) {

    .mobile-menu {
        display: hidden;
    }

    .nav-links,
    .nav-buttons {
        display: none;
    }

    .hamburger {
        display: flex;
    }
}

/* Hamburger Animation */
.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}


/*! hero section starts from here  */
/* Responsive Breakpoints */
@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 36px;
    }


    .hero-content .app-buttons img {
        width: 130px;
    }
}

@media (max-width: 480px) {
    .hero-content h1 {
        font-size: 28px;
    }


    .hero-content p {
        font-size: 14px;
    }

    .hero {
        padding: 100px 8px 20px 8px;

    }


    .hero-content .app-buttons img {
        width: 120px;
    }
}

/*! hero section image part  */

@media (max-width: 768px) {
    .desktop-image img {
        width: 90%;

    }


    .mobile-image {
        /* position: static; */
        /* Absolute remove */
        margin-top: 20px;
        width: 50%;
    }
}

@media (max-width: 480px) {
    .mobile-image {
        width: 80%;
    }

    .desktop-image img {
        width: 100%;
    }

}


@media (max-width: 1000px) {
    .banner-image {
        margin-left: 0;
    }
}

/*! brands section */

/* Responsive Breakpoints */
@media (max-width: 768px) {
    .brands-content {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        gap: 30px;
    }
}

@media (max-width: 480px) {
    .brands-content {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

/* !Our Primary Features section */
@media (max-width: 768px) {
    .features-header h2 {
        font-size: 21px;
    }

    .features-header p {
        font-size: 14px;
    }

    .features-grid {
        padding: 20px;
        margin-top: -50px;
    }

    .feature-item {
        padding: 10px;
    }
}

/* !Our Achievements  */
@media (max-width: 768px) {
    .stats h2 {
        font-size: 28px;
    }

    .stats p {
        font-size: 16px;
    }

    .stats-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .stat-divider {
        width: 250px;
        height: 1px;
        /* Horizontal Line */
        background: #CBD5E1;
        margin: 20px auto;
        display: block;
        /* Divider Show */
    }
}

/*! Who is it for? */

@media (max-width: 1200px) {
    .audience_wrapper {
        gap: 3rem;
        padding: 0 50px;
    }

    .audience_tabs {
        gap: 3rem;
    }

    .new-header {
        padding: 60px 40px 0 40px;
    }


    .audience_tabs-content {
        width: 450px;
        height: 450px;
    }
}

@media (max-width: 900px) {
    .audience_wrapper {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 30px;
        gap: 3rem;
    }

    .new-header {
        padding: 60px 25px 0 25px;
    }

    .audience_tabs {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .audience_tabs-menu {
        width: 100%;
    }

    .audience_tabs-content {
        width: 100%;
        height: auto;
        max-width: 400px;
    }
}

@media (max-width: 600px) {
    .audience_tab {
        padding: 1.5rem;
    }

    .audience_tabs-content {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 1200px) {
    .audience_wrapper {
        padding: 0 50px;
    }
}

@media (max-width: 900px) {
    .audience_wrapper {
        padding: 0 30px;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .audience_wrapper {
        padding: 0 20px;
    }
}
