/* Reset & Font */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    background: #fff;
    position: fixed;
    width: 100%;
    z-index: 99;


}


/* Logo */
.logo img {
    width: 109px;
}

/* Navigation Links */
.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #475569;
    font-weight: 700;
    transition: color 0.3s ease-in-out;
    font-size: 16px;
}

.nav-links a:hover {
    color: #4F46E5;
}

/* Buttons */
.nav-buttons {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 8px 16px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.signup {
    border: 1px solid #4F46E5;
    color: #4F46E5;
    font-weight: 700;
    font-size: 16px;
    padding: 12px 20px;
    border-radius: 1234px;
}

.signup:hover {
    background: #4F46E5;
    color: #fff;
}

.login {
    background: #4F46E5;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    padding: 12px 20px;
    border-radius: 1234px;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 123rem;
    padding: 0.5rem;
}

.hamburger img {
    width: 24px;

    transition: all 0.3s ease-in-out;
}

/* Mobile Menu */
.mobile-menu {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    background: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: top 0.3s ease-in-out;
    display: none;
}

/* Show menu when active */
.mobile-menu.active {
    top: 60px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.mobile-menu a {
    text-decoration: none;
    color: #475569;
    font-weight: 700;
    padding: 10px;
    display: block;
}


/*! hero section starts from here  */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* min-height: 100vh; */
    padding: 130px 0px 20px 0px;
    background: linear-gradient(180deg, #ffffff, #eef1ff);

}

.shadow {
    transition: all 0.8s ease-in-out;
    opacity: 0;
}



.hero-content {
    max-width: 700px;
}

.hero-content .subheading {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    color: #4F46E5;
    margin-bottom: 10px;
    background: #eef1ff;
    padding: 5px 15px;
    border-radius: 1234px;

}

.hero-content h1 {
    font-size: 55px;
    color: #1E293B;
    line-height: 68px;
    font-weight: 800;
    /* margin: 14px 0; */
    line-height: 1.3;
}

.hero-content p {
    font-size: 17px;
    color: #475569;
    margin-bottom: 30px;
    line-height: 28.8px;
    font-weight: 400;
}

.hero-content .app-buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.hero-content .app-buttons img {
    width: 132px;
    height: 44px;
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 10px;
}

.hero-content .app-buttons img:hover {
    transform: scale(1.05);
}

/*! hero section image part  */

/* banner-image Section */
.banner-image {
    display: flex;
    justify-content: center;
    padding-right: 300px;
    align-items: center;
    padding: 30px 0px 120px 0px;
    /* background: linear-gradient(180deg, #eef1ff 0%, #cfd9ff 100%); */
    background: linear-gradient(180deg, #eef1ff 5%, #a5b4fc 100%);
    position: relative;
    overflow: hidden;
    margin-left: -130px;


}

.banner-image-content {
    position: relative;
    max-width: 1100px;
    width: 100%;
    text-align: center;

}

.desktop-image img {
    width: 800px;
    height: 533.33px;
    border-radius: 16px;
    max-width: 900px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;

}

.mobile-image {
    position: absolute;
    right: 0;
    bottom: -50px;

    /* Image niche theke uthe asbe */
    width: 250px;
}

.mobile-image img {
    width: 230px;
    height: 467.85px;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
    border: 2px solid transparent;

}

.desktop-image img:hover,
.mobile-image img:hover {
    transform: translateY(-10px);
}

/*! brands section */
/* Brands Section */
.brands {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    background: #f8f9fc;

}

.brands-content {
    display: flex;
    /* Grid er bodole Flex */
    flex-wrap: wrap;
    /* Line break hobe jodi sob image ek line e na ase */
    gap: 40px;
    /* Image er majhe gap */
    max-width: 1100px;
    width: 100%;
    justify-content: center;
    /* Horizontal Center */
    align-items: center;
    /* Vertical Center */
    text-align: center;
    /* Text center */
}

.uber {
    padding: 20px;

}


.brands-content img {
    max-width: 100%;

    height: auto;

    filter: grayscale(100%);
    transition: filter 0.3s ease;
    filter: grayscale(0%);

}

/* !Our Primary Features section */

.features {
    padding: 50px 20px;
    text-align: center;
    background: #ffffff;
}

.features-header {
    margin-bottom: 50px;
    padding: 30px;
    display: inline-block;
}

.features-header span {
    display: inline-block;
    background-color: #EEF2FF;
    color: #4F46E5;
    padding: 5px 20px;
    border-radius: 1234px;
    margin-bottom: 10px;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 600;

}

.features-header h2 {
    font-size: 36px;
    margin: 10px 0;
    font-weight: 800;
    color: #1E293B;
}

.features-header p {
    color: #666;
    max-width: 800px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    max-width: 1200px ;
    margin: 0 auto;
    justify-content: center;
    padding: 0px 50px 20px 50px;
    margin-top: -20px;
}

.feature-item {
    padding: 30px;
    border-radius: 20px;
    transition: all 0.4s ease-in-out;
}

.feature-item:hover {
    background: #cfd9ff;
    color: #6c63ff;
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(108, 99, 255, 0.3);
}

.feature-item .icon {
    width: 50px;
    margin-bottom: 20px;
    color: #6c63ff;
    transition: 0.3s ease-in-out;
}

.feature-item:hover .icon {
    color: white;
}

.feature-item h3 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
}

.feature-item p {
    color: #666;
    font-size: 16px;
}

.feature-item:hover p {
    color: #6c63ff;
}

/* !Our Achievements  */
.stats {
    padding: 100px 20px;
    text-align: center;
    background: #F8FAFC;
}

.stats-container {
    max-width: 1000px;
    margin: 0 auto;
}

.stats-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    margin: 0 auto 20px;
    background: rgba(79, 70, 229, 0.1);
    border-radius: 50%;
}

.stats-icon img {
    width: 22px;
    height: 22.75px;
}

.stats h2 {
    font-size: 36px;
    color: #1E293B;
    margin-bottom: 10px;
    font-weight: 800;
    line-height: 44px;
    
}


.stats p {
    font-size: 18px;
    color: #475569;
    max-width: 700px;
    margin: 0 auto 50px;
    line-height: 32px;
}

.stats-grid {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    margin-top: 50px;
}

.stat-item {
    text-align: center;
}

.stat-item h3 {
    font-size: 60px;
    color: #4F46E5;
    margin-bottom: 10px;
    font-weight: 700;
}

.stat-item span {
    font-size: 16px;
    color: #475569;
    font-weight: 700;
}

.stat-divider {
    width: 1px;
    height: 70px;
    background: #CBD5E1;
}
